* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
body {
  background-image: url(../img/fon.jpg);
  height: 100%;
  width: 100%;
}
.wraper {
  text-align: center;
  align-items: center;
  color: #fff;
  padding: 100px 0 100px 0;
  font-style: Arial, sans-serif;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-element {
  margin: 1%;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
img {
  width: 250px;
  height: 250px;
}
a {
  color: #ff0;
}
